In [164]:
from loading_data import queryDB
import pandas as pd

In [165]:
import json
import numpy as np
import copy
import os

config_path = 'config.json'

with open(config_path) as config_buffer:
   config = json.loads(config_buffer.read())

model_path = config['model_weights']
num_concepts = len(config['conceptids'])
class_map_file = config['class_map']
concepts = config['conceptids']
classmap = pd.read_csv(class_map_file, header=None).to_dict()[0]

In [166]:
queryDB("select * from videos where filename='DocRicketts-0701_20141216T212020Z_00-48-12-26TC_h264.mp4'")

,id,filename,gpsstart,gpsstop,starttime,endtime,startdepth,enddepth,description
0,8,DocRicketts-0701_20141216T212020Z_00-48-12-26T...,"(36.798367,-122.108671)","(36.798215,-122.108195)",2014-12-16 21:20:20,2014-12-16 21:36:20,217,149,

In [167]:
annotations = queryDB('select * from annotations where videoid=8 and userid!=17')

In [168]:
annotations.head()

,id,videoid,userid,conceptid,timeinvideo,x1,y1,x2,y2,videowidth,videoheight,dateannotated,image,imagewithbox,comment,unsure,originalid,framenum
0,433,8,6,236,178.732221,575.006251,49.006271,698.999957,155.993774,1280.0,720.0,2018-09-05,433.png,433_box.png,None,False,433,None
1,471,8,6,236,192.175752,326.006221,25.006256,443.006213,133.006248,1280.0,720.0,2018-09-05,471.png,471_box.png,None,False,471,None
2,488,8,6,383,207.099977,81.006251,162.006241,417.006221,432.999985,1280.0,720.0,2018-09-05,488.png,488_box.png,None,False,488,None
3,427,8,6,236,176.381214,740.006190,56.006271,842.999934,156.993767,1280.0,720.0,2018-09-05,427.png,427_box.png,None,False,427,None
4,434,8,6,236,178.485498,1116.006251,50.006271,1239.999995,156.993767,1280.0,720.0,2018-09-05,434.png,434_box.png,None,False,434,None

In [169]:
def compute_overlap(annotationA, annotationB):
    # if there is no overlap in x dimension
    if annotationB.x2 - annotationA.x1 < 0 or annotationA.x2 - annotationB.x1 < 0:
        return 0
    # if there is no overlap in y dimension
    if annotationB.y2 - annotationA.y1 < 0 or annotationA.y2 - annotationB.y1 < 0:
        return 0
    
    areaA = (annotationA.x2-annotationA.x1) * (annotationA.y2-annotationA.y1)
    areaB = (annotationB.x2-annotationB.x1) * (annotationB.y2-annotationB.y1)

    width = min(annotationA.x2,annotationB.x2) - min(annotationA.x1,annotationB.x1)
    height = min(annotationA.y2,annotationB.y2) - min(annotationA.y1,annotationB.y1)
    
    area_intersect = height * width
    iou = area_intersect / (areaA + areaB - area_intersect)
    
    return iou

In [170]:
a = annotations.iloc[0]
a.x1 = -1
a.x2 = 0
if compute_overlap(a,annotations.iloc[0]) != 0:
    print("ERROR")
    
a = annotations.iloc[0]
a.x1 = 0
a.x2 = 1000
a.y1 = 0
a.y2 = 1000
b = annotations.iloc[0]
b.x1 = 0
b.x2 = 1000
b.y1 = 0
b.y2 = 500

if compute_overlap(a,b) != .5:
    print("ERROR")

In [203]:
fps = 29.97002997002997

In [171]:
def score_predictions(validation,predictions,iou_thresh, concepts, fps):
    # group predictions by video frames
    predictions = predictions.groupby(['videoid','frame_num'], sort=False)
    predictions = [df for _, df in predictions]
    
    # mapping annotations from prediction list to video/time
    frame_data = {}
    for i, group in enumerate(predictions):
        frame_num = group.iloc[0]['frame_num']
        video = group.iloc[0]['videoid']
        frame_data[(video,frame_num)] = i
    
    # group validation annotations by video frames
    validation = validation.groupby(['videoid','timeinvideo'], sort=False)
    validation = [df for _, df in validation]
    
    # initialize counters for each concept
    true_positives = dict(zip(concepts,[0] * len(concepts)))
    false_positives = dict(zip(concepts,[0] * len(concepts)))
    false_negatives = dict(zip(concepts,[0] * len(concepts)))
    
    # get true and false positives for each frame of validation data
    for group in validation:
        #get time and video for this set
        frame_num = int(round(0,group.iloc[0]['timeinvideo'] * fps))
        video = group.iloc[0]['videoid']
        
        #get corresponding predictions for this set
        try:
            predicted = predictions[frame_data[(video,frame_num)]]
        except:
            print("prediction not found")
            continue
            
        #go through predictions and identify false positives/false negatives/ true_positives
        detected_predictions = []
        detected_truths = dict(zip(concepts,[0] * len(concepts)))
        for index, truth in group.iterrows():
            for index, prediction in predicted.iterrows():
                if prediction.id in detected_predictions or compute_overlap(truth,prediction) < iou_thresh or prediction.conceptid != truth.conceptid:
                    continue
                detected_predictions.append(prediction.id)
                if truth.conceptid == prediction.conceptid:
                    true_positives[prediction.conceptid] += 1
                    detected_truths[prediction.conceptid] += 1
                else:
                    print("HERE")
                    print(truth)
                    print(prediction)
                    false_positives[prediction.conceptid] += 1

        for id in concepts:
            false_negatives[id] += len(group.loc[group['conceptid'] == id]) - detected_truths[id]
        #count number of annotations that were correct, wrong, and missed
        
    f1 = dict(zip(concepts,[0] * len(concepts)))
    for id in concepts:
        try:
            recall = true_positives[id] / (true_positives[id] + false_negatives[id])
            precision = true_positives[id] / (true_positives[id] + false_positives[id])
            f1[id] = 2*recall*precision / (precision+recall)
        except:
            f1[id] = 0
    
    return f1

In [172]:
score_predictions(annotations,annotations,.9,annotations.conceptid.unique())

prediction not found
prediction not found
prediction not found
prediction not found
prediction not found
prediction not found
prediction not found
prediction not found
prediction not found
prediction not found
prediction not found
prediction not found
prediction not found
prediction not found
prediction not found
prediction not found
prediction not found
prediction not found
prediction not found
prediction not found
prediction not found
prediction not found
prediction not found
prediction not found
prediction not found
prediction not found
prediction not found
prediction not found
prediction not found
prediction not found
prediction not found
prediction not found
prediction not found
prediction not found
prediction not found
prediction not found
prediction not found
prediction not found
prediction not found
prediction not found
prediction not found
prediction not found
prediction not found
prediction not found
prediction not found
prediction not found
prediction not found
prediction not found
prediction not found
prediction not found
prediction not found
prediction not found
prediction not found
prediction not found
prediction not found
prediction not found
prediction not found
prediction not found
prediction not found
prediction not found
prediction not found
prediction not found
prediction not found
prediction not found
prediction not found
prediction not found
prediction not found
prediction not found
prediction not found
prediction not found
prediction not found
prediction not found
prediction not found
prediction not found
prediction not found

{236: 0, 237: 0, 383: 0, 812: 0, 889: 0, 1009: 0, 2101: 0, 3100: 0}

In [173]:
#DOESNT WORK IF VAL IS MISSING

In [174]:
#is it false positive if something is misidentified, or false positive as well as false negative?
# currently both!

In [175]:
queryDB('select * from annotations limit 1')

,id,videoid,userid,conceptid,timeinvideo,x1,y1,x2,y2,videowidth,videoheight,dateannotated,image,imagewithbox,comment,unsure,originalid,framenum
0,2178619,19,17,2136,773.44,614.0,474.0,690.0,512.0,1280.0,720.0,2019-01-27,19_773.44_ai.png,6945_773.44_box_ai.png,None,False,6945,23180

In [176]:
queryDB('select * from annotations where userid != 17 limit 1')

,id,videoid,userid,conceptid,timeinvideo,x1,y1,x2,y2,videowidth,videoheight,dateannotated,image,imagewithbox,comment,unsure,originalid,framenum
0,11107,29,11,1083,96.110808,82.0,285.0,145.984383,321.0,1600.0,900.0,2018-11-13,11107.png,11107_box.png,,False,11107,None

In [177]:
annotations.tail()

,id,videoid,userid,conceptid,timeinvideo,x1,y1,x2,y2,videowidth,videoheight,dateannotated,image,imagewithbox,comment,unsure,originalid,framenum
129,552,8,6,1009,382.113777,968.006251,79.006256,1178.006236,355.006256,1280.0,720.0,2018-09-25,1537902851583,1537902851583_box,None,False,552,None
130,553,8,6,383,384.512926,560.006251,0.000000,947.006190,285.993744,1280.0,720.0,2018-09-25,1537902872581,1537902872581_box,None,False,553,None
131,554,8,6,383,395.718291,823.006251,46.006256,1210.006221,332.000000,1280.0,720.0,2018-09-25,1537902894130,1537902894130_box,None,False,554,None
132,556,8,6,237,411.169361,0.000000,0.000000,190.987488,187.987488,1280.0,720.0,2018-09-25,1537902963374,1537902963374_box,None,False,556,None
133,555,8,6,383,403.672527,275.006251,19.006256,497.999965,272.993759,1280.0,720.0,2018-09-25,1537902912565,1537902912565_box,None,False,555,None

In [178]:
results = pd.read_csv('../../test/results.csv')

In [179]:
len(results.objectid.value_counts())

52

In [180]:
len(annotations)

134

In [181]:
results.timeinvideo = results.timeinvideo+160

In [182]:
results

,Unnamed: 0,x1,y1,x2,y2,label,confidence,objectid,timeinvideo
0,0,477.479370,0.000000,640.000000,128.515671,3.0,0.546251,d240d1ee-c37c-4fc5-90cb-d36e5e326f02,160.00
1,1,477.000000,0.000000,640.000000,129.000000,NaN,NaN,d240d1ee-c37c-4fc5-90cb-d36e5e326f02,160.03
2,2,476.000000,3.000000,639.000000,132.000000,NaN,NaN,d240d1ee-c37c-4fc5-90cb-d36e5e326f02,160.07
3,3,475.000000,8.000000,638.000000,137.000000,NaN,NaN,d240d1ee-c37c-4fc5-90cb-d36e5e326f02,160.10
4,4,472.000000,11.000000,635.000000,140.000000,NaN,NaN,d240d1ee-c37c-4fc5-90cb-d36e5e326f02,160.13
5,5,471.000000,16.000000,634.000000,145.000000,NaN,NaN,d240d1ee-c37c-4fc5-90cb-d36e5e326f02,160.17
6,6,468.000000,19.000000,631.000000,148.000000,NaN,NaN,d240d1ee-c37c-4fc5-90cb-d36e5e326f02,160.20
7,7,467.000000,24.000000,630.000000,153.000000,NaN,NaN,d240d1ee-c37c-4fc5-90cb-d36e5e326f02,160.23
8,8,464.000000,29.000000,627.000000,158.000000,NaN,NaN,d240d1ee-c37c-4fc5-90cb-d36e5e326f02,160.27
9,9,463.000000,34.000000,626.000000,163.000000,NaN,NaN,d240d1ee-c37c-4fc5-90cb-d36e5e326f02,160.30
10,10,460.000000,37.000000,623.000000,166.000000,NaN,NaN,d240d1ee-c37c-4fc5-90cb-d36e5e326f02,160.33
11,11,438.616272,31.297535,640.000000,200.560944,3.0,0.375064,d240d1ee-c37c-4fc5-90cb-d36e5e326f02,160.33
12,12,439.000000,31.000000,640.000000,200.000000,NaN,NaN,d240d1ee-c37c-4fc5-90cb-d36e5e326f02,160.37
13,13,436.000000,34.000000,637.000000,203.000000,NaN,NaN,d240d1ee-c37c-4fc5-90cb-d36e5e326f02,160.40
14,14,435.000000,37.000000,636.000000,206.000000,NaN,NaN,d240d1ee-c37c-4fc5-90cb-d36e5e326f02,160.43
15,15,432.000000,42.000000,633.000000,211.000000,NaN,NaN,d240d1ee-c37c-4fc5-90cb-d36e5e326f02,160.47
16,16,431.000000,47.000000,632.000000,216.000000,NaN,NaN,d240d1ee-c37c-4fc5-90cb-d36e5e326f02,160.50
17,17,428.000000,52.000000,629.000000,221.000000,NaN,NaN,d240d1ee-c37c-4fc5-90cb-d36e5e326f02,160.53
18,18,425.000000,55.000000,626.000000,224.000000,NaN,NaN,d240d1ee-c37c-4fc5-90cb-d36e5e326f02,160.57
19,19,424.000000,60.000000,625.000000,229.000000,NaN,NaN,d240d1ee-c37c-4fc5-90cb-d36e5e326f02,160.60
20,20,421.000000,65.000000,622.000000,234.000000,NaN,NaN,d240d1ee-c37c-4fc5-90cb-d36e5e326f02,160.63
21,21,420.000000,70.000000,621.000000,239.000000,NaN,NaN,d240d1ee-c37c-4fc5-90cb-d36e5e326f02,160.67
22,22,438.093536,69.902290,586.674683,207.487869,3.0,0.495997,d240d1ee-c37c-4fc5-90cb-d36e5e326f02,160.67
23,23,438.000000,70.000000,587.000000,208.000000,NaN,NaN,d240d1ee-c37c-4fc5-90cb-d36e5e326f02,160.70
24,24,437.000000,74.000000,586.000000,212.000000,NaN,NaN,d240d1ee-c37c-4fc5-90cb-d36e5e326f02,160.73
25,25,434.000000,78.000000,583.000000,216.000000,NaN,NaN,d240d1ee-c37c-4fc5-90cb-d36e5e326f02,160.77
26,26,433.000000,82.000000,582.000000,220.000000,NaN,NaN,d240d1ee-c37c-4fc5-90cb-d36e5e326f02,160.80
27,27,432.000000,86.000000,581.000000,224.000000,NaN,NaN,d240d1ee-c37c-4fc5-90cb-d36e5e326f02,160.83
28,28,429.000000,90.000000,578.000000,228.000000,NaN,NaN,d240d1ee-c37c-4fc5-90cb-d36e5e326f02,160.87
29,29,426.000000,94.000000,575.000000,232.000000,NaN,NaN,d240d1ee-c37c-4fc5-90cb-d36e5e326f02,160.90
...,...,...,...,...,...,...,...,...,...
4747,104,475.000000,323.000000,578.000000,421.000000,NaN,NaN,05741a83-7f14-4148-8d77-c3bf9534586f,188.46
4748,105,476.000000,327.000000,579.000000,425.000000,NaN,NaN,05741a83-7f14-4148-8d77-c3bf9534586f,188.50
4749,106,479.000000,331.000000,582.000000,429.000000,NaN,NaN,05741a83-7f14-4148-8d77-c3bf9534586f,188.53
4750,107,480.000000,335.000000,583.000000,433.000000,NaN,NaN,05741a83-7f14-4148-8d77-c3bf9534586f,188.56
4751,108,483.000000,339.000000,586.000000,437.000000,NaN,NaN,05741a83-7f14-4148-8d77-c3bf9534586f,188.60
4752,109,484.000000,343.000000,587.000000,441.000000,NaN,NaN,05741a83-7f14-4148-8d77-c3bf9534586f,188.63
4753,110,487.000000,347.000000,590.000000,445.000000,NaN,NaN,05741a83-7f14-4148-8d77-c3bf9534586f,188.66
4754,111,488.000000,353.000000,591.000000,451.000000,NaN,NaN,05741a83-7f14-4148-8d77-c3bf9534586f,188.70
4755,112,489.000000,357.000000,592.000000,455.000000,NaN,NaN,05741a83-7f14-4148-8d77-c3bf9534586f,188.73
4756,113,490.000000,361.000000,593.000000,459.000000,NaN,NaN,05741a83-7f14-4148-8d77-c3bf9534586f,188.76
4757,114,493.000000,365.000000,596.000000,463.000000,NaN,NaN,05741a83-7f14-4148-8d77-c3bf9534586f,188.80
4758,115,494.000000,369.000000,597.000000,467.000000,NaN,NaN,05741a83-7f14-4148-8d77-c3bf9534586f,188.83
4759,116,495.000000,375.000000,598.000000,473.000000,NaN,NaN,05741a83-7f14-4148-8d77-c3bf9534586f,188.86
4760,117,496.000000,379.000000,599.000000,477.000000,NaN,NaN,05741a83-7f14-4148-8d77-c3bf9534586f,188.90
4761,118,499.000000,385.000000,602.000000,483.000000,NaN,NaN,05741a83-7f14-4148-8d77-c3bf9534586f,188.93
4762,119,500.000000,389.000000,603.000000,487.000000,NaN,NaN,05741a83-7f14-4148-8d77-c3bf9534586f,188.96
4763,120,503.000000,391.000000,606.000000,489.000000,NaN,NaN,05741a83-7f14-4148-8d77-c3bf9534586f,189.00
4764,121,504.000000,395.000000,607.000000,493.000000,NaN,NaN,05741a83-7f14-4148-8d77-c3bf9534586f,189.03
4765,122,505.000000,401.000000,608.000000,499.000000,NaN,NaN,05741a83-7f14-4148-8d77-c3bf9534586f,189.06
4766,123,506.000000,405.000000,609.000000,503.000000,NaN,NaN,05741a83-7f14-4148-8d77-c3bf9534586f,189.10
4767,124,509.000000,411.000000,612.000000,509.000000,NaN,NaN,05741a83-7f14-4148-8d77-c3bf9534586f,189.13
4768,125,510.000000,415.000000,613.000000,513.000000,NaN,NaN,05741a83-7f14-4148-8d77-c3bf9534586f,189.16
4769,126,513.000000,417.000000,616.000000,515.000000,NaN,NaN,05741a83-7f14-4148-8d77-c3bf9534586f,189.20
4770,127,514.000000,421.000000,617.000000,519.000000,NaN,NaN,05741a83-7f14-4148-8d77-c3bf9534586f,189.23
4771,128,515.000000,425.000000,618.000000,523.000000,NaN,NaN,05741a83-7f14-4148-8d77-c3bf9534586f,189.26
4772,129,516.000000,431.000000,619.000000,529.000000,NaN,NaN,05741a83-7f14-4148-8d77-c3bf9534586f,189.30
4773,130,519.000000,435.000000,622.000000,533.000000,NaN,NaN,05741a83-7f14-4148-8d77-c3bf9534586f,189.33
4774,131,518.000000,439.000000,621.000000,537.000000,NaN,NaN,05741a83-7f14-4148-8d77-c3bf9534586f,189.36
4775,132,519.000000,441.000000,622.000000,539.000000,NaN,NaN,05741a83-7f14-4148-8d77-c3bf9534586f,189.40
4776,133,520.000000,445.000000,623.000000,543.000000,NaN,NaN,05741a83-7f14-4148-8d77-c3bf9534586f,189.43

In [183]:
label = None
objects = results.groupby(['objectid'])
for oid, result in objects:
    scores = {}
    for k , label in result.groupby(['label']):
        scores[k] = label.confidence.mean()
    idmax = max(scores.keys(), key=(lambda k: scores[k]))
    results.loc[results.objectid == oid,'label'] = idmax

In [184]:
results

,Unnamed: 0,x1,y1,x2,y2,label,confidence,objectid,timeinvideo
0,0,477.479370,0.000000,640.000000,128.515671,3.0,0.546251,d240d1ee-c37c-4fc5-90cb-d36e5e326f02,160.00
1,1,477.000000,0.000000,640.000000,129.000000,3.0,NaN,d240d1ee-c37c-4fc5-90cb-d36e5e326f02,160.03
2,2,476.000000,3.000000,639.000000,132.000000,3.0,NaN,d240d1ee-c37c-4fc5-90cb-d36e5e326f02,160.07
3,3,475.000000,8.000000,638.000000,137.000000,3.0,NaN,d240d1ee-c37c-4fc5-90cb-d36e5e326f02,160.10
4,4,472.000000,11.000000,635.000000,140.000000,3.0,NaN,d240d1ee-c37c-4fc5-90cb-d36e5e326f02,160.13
5,5,471.000000,16.000000,634.000000,145.000000,3.0,NaN,d240d1ee-c37c-4fc5-90cb-d36e5e326f02,160.17
6,6,468.000000,19.000000,631.000000,148.000000,3.0,NaN,d240d1ee-c37c-4fc5-90cb-d36e5e326f02,160.20
7,7,467.000000,24.000000,630.000000,153.000000,3.0,NaN,d240d1ee-c37c-4fc5-90cb-d36e5e326f02,160.23
8,8,464.000000,29.000000,627.000000,158.000000,3.0,NaN,d240d1ee-c37c-4fc5-90cb-d36e5e326f02,160.27
9,9,463.000000,34.000000,626.000000,163.000000,3.0,NaN,d240d1ee-c37c-4fc5-90cb-d36e5e326f02,160.30
10,10,460.000000,37.000000,623.000000,166.000000,3.0,NaN,d240d1ee-c37c-4fc5-90cb-d36e5e326f02,160.33
11,11,438.616272,31.297535,640.000000,200.560944,3.0,0.375064,d240d1ee-c37c-4fc5-90cb-d36e5e326f02,160.33
12,12,439.000000,31.000000,640.000000,200.000000,3.0,NaN,d240d1ee-c37c-4fc5-90cb-d36e5e326f02,160.37
13,13,436.000000,34.000000,637.000000,203.000000,3.0,NaN,d240d1ee-c37c-4fc5-90cb-d36e5e326f02,160.40
14,14,435.000000,37.000000,636.000000,206.000000,3.0,NaN,d240d1ee-c37c-4fc5-90cb-d36e5e326f02,160.43
15,15,432.000000,42.000000,633.000000,211.000000,3.0,NaN,d240d1ee-c37c-4fc5-90cb-d36e5e326f02,160.47
16,16,431.000000,47.000000,632.000000,216.000000,3.0,NaN,d240d1ee-c37c-4fc5-90cb-d36e5e326f02,160.50
17,17,428.000000,52.000000,629.000000,221.000000,3.0,NaN,d240d1ee-c37c-4fc5-90cb-d36e5e326f02,160.53
18,18,425.000000,55.000000,626.000000,224.000000,3.0,NaN,d240d1ee-c37c-4fc5-90cb-d36e5e326f02,160.57
19,19,424.000000,60.000000,625.000000,229.000000,3.0,NaN,d240d1ee-c37c-4fc5-90cb-d36e5e326f02,160.60
20,20,421.000000,65.000000,622.000000,234.000000,3.0,NaN,d240d1ee-c37c-4fc5-90cb-d36e5e326f02,160.63
21,21,420.000000,70.000000,621.000000,239.000000,3.0,NaN,d240d1ee-c37c-4fc5-90cb-d36e5e326f02,160.67
22,22,438.093536,69.902290,586.674683,207.487869,3.0,0.495997,d240d1ee-c37c-4fc5-90cb-d36e5e326f02,160.67
23,23,438.000000,70.000000,587.000000,208.000000,3.0,NaN,d240d1ee-c37c-4fc5-90cb-d36e5e326f02,160.70
24,24,437.000000,74.000000,586.000000,212.000000,3.0,NaN,d240d1ee-c37c-4fc5-90cb-d36e5e326f02,160.73
25,25,434.000000,78.000000,583.000000,216.000000,3.0,NaN,d240d1ee-c37c-4fc5-90cb-d36e5e326f02,160.77
26,26,433.000000,82.000000,582.000000,220.000000,3.0,NaN,d240d1ee-c37c-4fc5-90cb-d36e5e326f02,160.80
27,27,432.000000,86.000000,581.000000,224.000000,3.0,NaN,d240d1ee-c37c-4fc5-90cb-d36e5e326f02,160.83
28,28,429.000000,90.000000,578.000000,228.000000,3.0,NaN,d240d1ee-c37c-4fc5-90cb-d36e5e326f02,160.87
29,29,426.000000,94.000000,575.000000,232.000000,3.0,NaN,d240d1ee-c37c-4fc5-90cb-d36e5e326f02,160.90
...,...,...,...,...,...,...,...,...,...
4747,104,475.000000,323.000000,578.000000,421.000000,2.0,NaN,05741a83-7f14-4148-8d77-c3bf9534586f,188.46
4748,105,476.000000,327.000000,579.000000,425.000000,2.0,NaN,05741a83-7f14-4148-8d77-c3bf9534586f,188.50
4749,106,479.000000,331.000000,582.000000,429.000000,2.0,NaN,05741a83-7f14-4148-8d77-c3bf9534586f,188.53
4750,107,480.000000,335.000000,583.000000,433.000000,2.0,NaN,05741a83-7f14-4148-8d77-c3bf9534586f,188.56
4751,108,483.000000,339.000000,586.000000,437.000000,2.0,NaN,05741a83-7f14-4148-8d77-c3bf9534586f,188.60
4752,109,484.000000,343.000000,587.000000,441.000000,2.0,NaN,05741a83-7f14-4148-8d77-c3bf9534586f,188.63
4753,110,487.000000,347.000000,590.000000,445.000000,2.0,NaN,05741a83-7f14-4148-8d77-c3bf9534586f,188.66
4754,111,488.000000,353.000000,591.000000,451.000000,2.0,NaN,05741a83-7f14-4148-8d77-c3bf9534586f,188.70
4755,112,489.000000,357.000000,592.000000,455.000000,2.0,NaN,05741a83-7f14-4148-8d77-c3bf9534586f,188.73
4756,113,490.000000,361.000000,593.000000,459.000000,2.0,NaN,05741a83-7f14-4148-8d77-c3bf9534586f,188.76
4757,114,493.000000,365.000000,596.000000,463.000000,2.0,NaN,05741a83-7f14-4148-8d77-c3bf9534586f,188.80
4758,115,494.000000,369.000000,597.000000,467.000000,2.0,NaN,05741a83-7f14-4148-8d77-c3bf9534586f,188.83
4759,116,495.000000,375.000000,598.000000,473.000000,2.0,NaN,05741a83-7f14-4148-8d77-c3bf9534586f,188.86
4760,117,496.000000,379.000000,599.000000,477.000000,2.0,NaN,05741a83-7f14-4148-8d77-c3bf9534586f,188.90
4761,118,499.000000,385.000000,602.000000,483.000000,2.0,NaN,05741a83-7f14-4148-8d77-c3bf9534586f,188.93
4762,119,500.000000,389.000000,603.000000,487.000000,2.0,NaN,05741a83-7f14-4148-8d77-c3bf9534586f,188.96
4763,120,503.000000,391.000000,606.000000,489.000000,2.0,NaN,05741a83-7f14-4148-8d77-c3bf9534586f,189.00
4764,121,504.000000,395.000000,607.000000,493.000000,2.0,NaN,05741a83-7f14-4148-8d77-c3bf9534586f,189.03
4765,122,505.000000,401.000000,608.000000,499.000000,2.0,NaN,05741a83-7f14-4148-8d77-c3bf9534586f,189.06
4766,123,506.000000,405.000000,609.000000,503.000000,2.0,NaN,05741a83-7f14-4148-8d77-c3bf9534586f,189.10
4767,124,509.000000,411.000000,612.000000,509.000000,2.0,NaN,05741a83-7f14-4148-8d77-c3bf9534586f,189.13
4768,125,510.000000,415.000000,613.000000,513.000000,2.0,NaN,05741a83-7f14-4148-8d77-c3bf9534586f,189.16
4769,126,513.000000,417.000000,616.000000,515.000000,2.0,NaN,05741a83-7f14-4148-8d77-c3bf9534586f,189.20
4770,127,514.000000,421.000000,617.000000,519.000000,2.0,NaN,05741a83-7f14-4148-8d77-c3bf9534586f,189.23
4771,128,515.000000,425.000000,618.000000,523.000000,2.0,NaN,05741a83-7f14-4148-8d77-c3bf9534586f,189.26
4772,129,516.000000,431.000000,619.000000,529.000000,2.0,NaN,05741a83-7f14-4148-8d77-c3bf9534586f,189.30
4773,130,519.000000,435.000000,622.000000,533.000000,2.0,NaN,05741a83-7f14-4148-8d77-c3bf9534586f,189.33
4774,131,518.000000,439.000000,621.000000,537.000000,2.0,NaN,05741a83-7f14-4148-8d77-c3bf9534586f,189.36
4775,132,519.000000,441.000000,622.000000,539.000000,2.0,NaN,05741a83-7f14-4148-8d77-c3bf9534586f,189.40
4776,133,520.000000,445.000000,623.000000,543.000000,2.0,NaN,05741a83-7f14-4148-8d77-c3bf9534586f,189.43

In [185]:
class_map_file = config['class_map']
concepts = config['conceptids']

results['label'] = results['label'].apply(lambda x: concepts[int(x)])

In [186]:
temp = list(results.columns)
temp[0] = 'id'
results.columns = temp

In [187]:
results['conceptid'] = results['label']

In [188]:
results

,id,x1,y1,x2,y2,label,confidence,objectid,timeinvideo,conceptid
0,0,477.479370,0.000000,640.000000,128.515671,383,0.546251,d240d1ee-c37c-4fc5-90cb-d36e5e326f02,160.00,383
1,1,477.000000,0.000000,640.000000,129.000000,383,NaN,d240d1ee-c37c-4fc5-90cb-d36e5e326f02,160.03,383
2,2,476.000000,3.000000,639.000000,132.000000,383,NaN,d240d1ee-c37c-4fc5-90cb-d36e5e326f02,160.07,383
3,3,475.000000,8.000000,638.000000,137.000000,383,NaN,d240d1ee-c37c-4fc5-90cb-d36e5e326f02,160.10,383
4,4,472.000000,11.000000,635.000000,140.000000,383,NaN,d240d1ee-c37c-4fc5-90cb-d36e5e326f02,160.13,383
5,5,471.000000,16.000000,634.000000,145.000000,383,NaN,d240d1ee-c37c-4fc5-90cb-d36e5e326f02,160.17,383
6,6,468.000000,19.000000,631.000000,148.000000,383,NaN,d240d1ee-c37c-4fc5-90cb-d36e5e326f02,160.20,383
7,7,467.000000,24.000000,630.000000,153.000000,383,NaN,d240d1ee-c37c-4fc5-90cb-d36e5e326f02,160.23,383
8,8,464.000000,29.000000,627.000000,158.000000,383,NaN,d240d1ee-c37c-4fc5-90cb-d36e5e326f02,160.27,383
9,9,463.000000,34.000000,626.000000,163.000000,383,NaN,d240d1ee-c37c-4fc5-90cb-d36e5e326f02,160.30,383
10,10,460.000000,37.000000,623.000000,166.000000,383,NaN,d240d1ee-c37c-4fc5-90cb-d36e5e326f02,160.33,383
11,11,438.616272,31.297535,640.000000,200.560944,383,0.375064,d240d1ee-c37c-4fc5-90cb-d36e5e326f02,160.33,383
12,12,439.000000,31.000000,640.000000,200.000000,383,NaN,d240d1ee-c37c-4fc5-90cb-d36e5e326f02,160.37,383
13,13,436.000000,34.000000,637.000000,203.000000,383,NaN,d240d1ee-c37c-4fc5-90cb-d36e5e326f02,160.40,383
14,14,435.000000,37.000000,636.000000,206.000000,383,NaN,d240d1ee-c37c-4fc5-90cb-d36e5e326f02,160.43,383
15,15,432.000000,42.000000,633.000000,211.000000,383,NaN,d240d1ee-c37c-4fc5-90cb-d36e5e326f02,160.47,383
16,16,431.000000,47.000000,632.000000,216.000000,383,NaN,d240d1ee-c37c-4fc5-90cb-d36e5e326f02,160.50,383
17,17,428.000000,52.000000,629.000000,221.000000,383,NaN,d240d1ee-c37c-4fc5-90cb-d36e5e326f02,160.53,383
18,18,425.000000,55.000000,626.000000,224.000000,383,NaN,d240d1ee-c37c-4fc5-90cb-d36e5e326f02,160.57,383
19,19,424.000000,60.000000,625.000000,229.000000,383,NaN,d240d1ee-c37c-4fc5-90cb-d36e5e326f02,160.60,383
20,20,421.000000,65.000000,622.000000,234.000000,383,NaN,d240d1ee-c37c-4fc5-90cb-d36e5e326f02,160.63,383
21,21,420.000000,70.000000,621.000000,239.000000,383,NaN,d240d1ee-c37c-4fc5-90cb-d36e5e326f02,160.67,383
22,22,438.093536,69.902290,586.674683,207.487869,383,0.495997,d240d1ee-c37c-4fc5-90cb-d36e5e326f02,160.67,383
23,23,438.000000,70.000000,587.000000,208.000000,383,NaN,d240d1ee-c37c-4fc5-90cb-d36e5e326f02,160.70,383
24,24,437.000000,74.000000,586.000000,212.000000,383,NaN,d240d1ee-c37c-4fc5-90cb-d36e5e326f02,160.73,383
25,25,434.000000,78.000000,583.000000,216.000000,383,NaN,d240d1ee-c37c-4fc5-90cb-d36e5e326f02,160.77,383
26,26,433.000000,82.000000,582.000000,220.000000,383,NaN,d240d1ee-c37c-4fc5-90cb-d36e5e326f02,160.80,383
27,27,432.000000,86.000000,581.000000,224.000000,383,NaN,d240d1ee-c37c-4fc5-90cb-d36e5e326f02,160.83,383
28,28,429.000000,90.000000,578.000000,228.000000,383,NaN,d240d1ee-c37c-4fc5-90cb-d36e5e326f02,160.87,383
29,29,426.000000,94.000000,575.000000,232.000000,383,NaN,d240d1ee-c37c-4fc5-90cb-d36e5e326f02,160.90,383
...,...,...,...,...,...,...,...,...,...,...
4747,104,475.000000,323.000000,578.000000,421.000000,236,NaN,05741a83-7f14-4148-8d77-c3bf9534586f,188.46,236
4748,105,476.000000,327.000000,579.000000,425.000000,236,NaN,05741a83-7f14-4148-8d77-c3bf9534586f,188.50,236
4749,106,479.000000,331.000000,582.000000,429.000000,236,NaN,05741a83-7f14-4148-8d77-c3bf9534586f,188.53,236
4750,107,480.000000,335.000000,583.000000,433.000000,236,NaN,05741a83-7f14-4148-8d77-c3bf9534586f,188.56,236
4751,108,483.000000,339.000000,586.000000,437.000000,236,NaN,05741a83-7f14-4148-8d77-c3bf9534586f,188.60,236
4752,109,484.000000,343.000000,587.000000,441.000000,236,NaN,05741a83-7f14-4148-8d77-c3bf9534586f,188.63,236
4753,110,487.000000,347.000000,590.000000,445.000000,236,NaN,05741a83-7f14-4148-8d77-c3bf9534586f,188.66,236
4754,111,488.000000,353.000000,591.000000,451.000000,236,NaN,05741a83-7f14-4148-8d77-c3bf9534586f,188.70,236
4755,112,489.000000,357.000000,592.000000,455.000000,236,NaN,05741a83-7f14-4148-8d77-c3bf9534586f,188.73,236
4756,113,490.000000,361.000000,593.000000,459.000000,236,NaN,05741a83-7f14-4148-8d77-c3bf9534586f,188.76,236
4757,114,493.000000,365.000000,596.000000,463.000000,236,NaN,05741a83-7f14-4148-8d77-c3bf9534586f,188.80,236
4758,115,494.000000,369.000000,597.000000,467.000000,236,NaN,05741a83-7f14-4148-8d77-c3bf9534586f,188.83,236
4759,116,495.000000,375.000000,598.000000,473.000000,236,NaN,05741a83-7f14-4148-8d77-c3bf9534586f,188.86,236
4760,117,496.000000,379.000000,599.000000,477.000000,236,NaN,05741a83-7f14-4148-8d77-c3bf9534586f,188.90,236
4761,118,499.000000,385.000000,602.000000,483.000000,236,NaN,05741a83-7f14-4148-8d77-c3bf9534586f,188.93,236
4762,119,500.000000,389.000000,603.000000,487.000000,236,NaN,05741a83-7f14-4148-8d77-c3bf9534586f,188.96,236
4763,120,503.000000,391.000000,606.000000,489.000000,236,NaN,05741a83-7f14-4148-8d77-c3bf9534586f,189.00,236
4764,121,504.000000,395.000000,607.000000,493.000000,236,NaN,05741a83-7f14-4148-8d77-c3bf9534586f,189.03,236
4765,122,505.000000,401.000000,608.000000,499.000000,236,NaN,05741a83-7f14-4148-8d77-c3bf9534586f,189.06,236
4766,123,506.000000,405.000000,609.000000,503.000000,236,NaN,05741a83-7f14-4148-8d77-c3bf9534586f,189.10,236
4767,124,509.000000,411.000000,612.000000,509.000000,236,NaN,05741a83-7f14-4148-8d77-c3bf9534586f,189.13,236
4768,125,510.000000,415.000000,613.000000,513.000000,236,NaN,05741a83-7f14-4148-8d77-c3bf9534586f,189.16,236
4769,126,513.000000,417.000000,616.000000,515.000000,236,NaN,05741a83-7f14-4148-8d77-c3bf9534586f,189.20,236
4770,127,514.000000,421.000000,617.000000,519.000000,236,NaN,05741a83-7f14-4148-8d77-c3bf9534586f,189.23,236
4771,128,515.000000,425.000000,618.000000,523.000000,236,NaN,05741a83-7f14-4148-8d77-c3bf9534586f,189.26,236
4772,129,516.000000,431.000000,619.000000,529.000000,236,NaN,05741a83-7f14-4148-8d77-c3bf9534586f,189.30,236
4773,130,519.000000,435.000000,622.000000,533.000000,236,NaN,05741a83-7f14-4148-8d77-c3bf9534586f,189.33,236
4774,131,518.000000,439.000000,621.000000,537.000000,236,NaN,05741a83-7f14-4148-8d77-c3bf9534586f,189.36,236
4775,132,519.000000,441.000000,622.000000,539.000000,236,NaN,05741a83-7f14-4148-8d77-c3bf9534586f,189.40,236
4776,133,520.000000,445.000000,623.000000,543.000000,236,NaN,05741a83-7f14-4148-8d77-c3bf9534586f,189.43,236

In [189]:
results['videoid'] = 8
score_predictions(annotations,results,.5, concepts)

prediction not found
prediction not found
prediction not found
prediction not found
prediction not found
prediction not found
prediction not found
prediction not found
prediction not found
prediction not found
prediction not found
prediction not found
prediction not found
prediction not found
prediction not found
prediction not found
prediction not found
prediction not found
prediction not found
prediction not found
prediction not found
prediction not found
prediction not found
prediction not found
prediction not found
prediction not found
prediction not found
prediction not found
prediction not found
prediction not found
prediction not found
prediction not found
prediction not found
prediction not found
prediction not found
prediction not found
prediction not found
prediction not found
prediction not found
prediction not found
prediction not found
prediction not found
prediction not found
prediction not found
prediction not found
prediction not found
prediction not found
prediction not found
prediction not found
prediction not found
prediction not found
prediction not found
prediction not found
prediction not found
prediction not found
prediction not found
prediction not found
prediction not found
prediction not found
prediction not found
prediction not found
prediction not found
prediction not found
prediction not found
prediction not found
prediction not found
prediction not found
prediction not found

{236: 0.3157894736842105, 383: 0, 1133: 0, 1210: 0, 1629: 0}

In [192]:
results.head(10)

,id,x1,y1,x2,y2,label,confidence,objectid,timeinvideo,conceptid,videoid
0,0,477.47937,0.0,640.0,128.515671,383,0.546251,d240d1ee-c37c-4fc5-90cb-d36e5e326f02,160.00,383,8
1,1,477.00000,0.0,640.0,129.000000,383,NaN,d240d1ee-c37c-4fc5-90cb-d36e5e326f02,160.03,383,8
2,2,476.00000,3.0,639.0,132.000000,383,NaN,d240d1ee-c37c-4fc5-90cb-d36e5e326f02,160.07,383,8
3,3,475.00000,8.0,638.0,137.000000,383,NaN,d240d1ee-c37c-4fc5-90cb-d36e5e326f02,160.10,383,8
4,4,472.00000,11.0,635.0,140.000000,383,NaN,d240d1ee-c37c-4fc5-90cb-d36e5e326f02,160.13,383,8
5,5,471.00000,16.0,634.0,145.000000,383,NaN,d240d1ee-c37c-4fc5-90cb-d36e5e326f02,160.17,383,8
6,6,468.00000,19.0,631.0,148.000000,383,NaN,d240d1ee-c37c-4fc5-90cb-d36e5e326f02,160.20,383,8
7,7,467.00000,24.0,630.0,153.000000,383,NaN,d240d1ee-c37c-4fc5-90cb-d36e5e326f02,160.23,383,8
8,8,464.00000,29.0,627.0,158.000000,383,NaN,d240d1ee-c37c-4fc5-90cb-d36e5e326f02,160.27,383,8
9,9,463.00000,34.0,626.0,163.000000,383,NaN,d240d1ee-c37c-4fc5-90cb-d36e5e326f02,160.30,383,8

In [193]:
annotations.head(10)

,id,videoid,userid,conceptid,timeinvideo,x1,y1,x2,y2,videowidth,videoheight,dateannotated,image,imagewithbox,comment,unsure,originalid,framenum
0,433,8,6,236,178.732221,575.006251,49.006271,698.999957,155.993774,1280.0,720.0,2018-09-05,433.png,433_box.png,None,False,433,None
1,471,8,6,236,192.175752,326.006221,25.006256,443.006213,133.006248,1280.0,720.0,2018-09-05,471.png,471_box.png,None,False,471,None
2,488,8,6,383,207.099977,81.006251,162.006241,417.006221,432.999985,1280.0,720.0,2018-09-05,488.png,488_box.png,None,False,488,None
3,427,8,6,236,176.381214,740.006190,56.006271,842.999934,156.993767,1280.0,720.0,2018-09-05,427.png,427_box.png,None,False,427,None
4,434,8,6,236,178.485498,1116.006251,50.006271,1239.999995,156.993767,1280.0,720.0,2018-09-05,434.png,434_box.png,None,False,434,None
5,515,8,6,383,221.858010,1012.006251,324.006241,1279.000000,664.993759,1280.0,720.0,2018-09-25,1537835589399,1537835589399_box,None,False,515,None
6,517,8,6,383,234.685132,631.006251,147.006256,808.999995,304.993744,1280.0,720.0,2018-09-25,1537835622221,1537835622221_box,None,False,517,None
7,519,8,6,383,238.310152,619.006251,72.006256,881.993739,277.993744,1280.0,720.0,2018-09-25,1537835661367,1537835661367_box,None,False,519,None
8,420,8,6,236,172.134367,1049.006251,203.006271,1179.993739,317.006248,1280.0,720.0,2018-09-05,420.png,420_box.png,None,False,420,None
9,422,8,6,236,172.134367,833.006251,2.006256,963.993739,116.006248,1280.0,720.0,2018-09-05,422.png,422_box.png,None,False,422,None

In [202]:
a = 32/29.97
a

1.0677344010677345

In [204]:
round(a,0)

1.0